body {
  margin: 0;
  font: 300 11px/1.4 "Helvetica Neue", "sans-serif";
  color: #4d4d4e;
  background: #022c43;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}
